<div class="container">
  <% if !!params[:disc_id] %>
    <h1>Titles For <%= @disc.title %>:</h1>
  <% end %>

  <% @movies.each do |movie| %>
    <ol>
      <li><a href="movies/<%= movie.id %>"><%= movie.title %></a>
        | Released: <%= movie.release_year %>
        | <a target="_blank" href="<%= movie.imdb_url %>">IMDB Page</a></li>
    </ol>
  <% end %>
