<div class="container">
  <h1>New Movie:</h1>
  <%= form_for @movie, url: disc_movies_path , method: "post" do |f| %>
    <% if @movie.errors[:title].empty? %>
     <div class="field">
    <% else %>
     <div class="field_with_errors">
    <% end %>
      <%= f.label :title %>
      <%= f.text_field :title %><br>
    </div>
    <%= f.label :release_year %>
    <%= f.number_field :release_year %><br>
    <%= f.label :imdb_url, "Movie's IMDB.com Page Address", class: 'control-label'%>
    <%= f.text_field :imdb_url %><br>
    <%= f.submit %>
  <% end %>

</div>
