<div class="container">
    <h1><%= @movie.title %></h1> <%= link_to "Edit", edit_movie_path(@movie) %><br><br>
    <ul>
      <li>Year Released: <%= @movie.release_year %></li>
      <li><%= link_to "IMDB Information Page", "#{@movie.imdb_url }", target: "_blank" %></li>
    </ul>

    <h3>Film's Genre(s):</h3>
    <ul>
      <% @movie.genres.each do |genre| %>
        <li><%= link_to genre.tag, genre_path(genre) %>
           | <%= link_to "Delete Tag", movie_genre_path(@movie.id, genre), method: 'delete' %></li>
      <% end %>
    </ul>
    <%= link_to "Add A Genre To This Movie!", new_movie_genre_path(@movie) %>

</div>
