<div class="container center">
  <h1><strong><%= current_user.email %>'s Wishlist</strong></h1>
  <ul>
    <% @discs.each do |disc| %>
      <li><%= link_to "#{disc.title}", disc_path(disc) %> | <a target="_blank" href="<%= disc.amazon_url %>">Amazon Page</a>
      | <%= link_to 'Purchased?', purchase_path(disc), method: 'post'%>
       | <%= link_to "Delete?", disc, method: 'delete', data: {confirm: "Are You Sure?"} %> </li>
    <% end %>
  </ul><br><br>

  <div class="container">
    <%= link_to "Add A Disc To Your Wishlist!", new_disc_path %>
  </div>

  <div class="container left">
    <h3>*** If you need some disc ideas, check out what others have added!:</h3>
    <ul>
      <% @non_user.each do |disc| %>
        <li><%= disc.title %></li>
      <% end %>
    </ul>

  </div>


</div>
