<div class="container">
  <h1 id="disc-title"><%= @disc.title %></h1> <%= link_to "Edit", edit_disc_path(@disc) %><br>

  <% if @disc.special? %>
    <p><strong>Special Edition</strong></p>
  <% end %>
  <p>Year Disc Released: <%= @disc.pressing_year %></p>
  <p><%= link_to "Disc's Amazon Page", "#{@disc.amazon_url}", target: "_blank" %></p>
  <h2>Disc's Movie(s):</h2><br>
  <ul>
    <% @disc.movies.each do |movie| %>
      <li><%= link_to movie.title, disc_movie_path(movie) %>
         | <%= link_to "Delete?", disc_movie_path(@disc, movie), method: "delete" %></li>
    <% end %><br><br>
  </ul>
  <% @disc.user_discs.each do |user_disc| %>
    <% if user_disc.pub == 1 %>
      <h3>Disc Is Public</h3>
    <% else %>
      <%= link_to "Make Disc Public?", publicize_path(disc_id: @disc), method: 'post' %><br>
    <% end %>
  <% end %>

  <%= link_to "Click Here To Add Another Movie To This Disc", new_disc_movie_path(@disc) %>

</div>
