<div class="container">
  <h1 id="disc-title"><%= @disc.title %></h1> <%= link_to "Edit", edit_disc_path(@disc) %><br>

  <% if @disc.special? %>
  <p id="spec-edition"><strong>Special Edition</strong></p>
  <% end %>
  <p id="year-released">Year Disc Released: <%= @disc.pressing_year %></p>
  <p id="amazon-link"><%= link_to "Disc's Amazon Page", "#{@disc.amazon_url}", target: "_blank" %></p>
  <h2>Disc's Movie(s):</h2><br>
  <ul id="disc-movies">
    <% @disc.movies.each do |movie| %>
      <li><%= link_to movie.title, disc_movie_path(movie) %>
         | <%= link_to "Delete?", disc_movie_path(@disc, movie), method: "delete" %></li>
    <% end %><br><br>
  </ul>
  <% @disc.user_discs.each do |user_disc| %>
    <% if user_disc.pub == 1 %>
      <h3 id="public-notify">Disc Is Public</h3>
    <% else %>
      <%= link_to "Make Disc Public?", publicize_path(disc_id: @disc), method: 'post' %><br>
    <% end %>
  <% end %>

  <p id="add-movie-link"><%= link_to "Click Here To Add Another Movie To This Disc", new_disc_movie_path(@disc) %></p>

</div>


<script type="text/javascript" charset="utf-8">
  function Disc(id, title, amazon_url, special?, pressing_year, movies, user_discs) {
    this.id = id;
    this.title = title;
    this.amazon_url = amazon_url;
    this.special? = special?;
    this.pressing_year = pressing_year;
    this.movies = [];
    this.user_discs = [];

    
  }

  $(document).ready(function() {
    $.get("/disc" + params[:id] + ".json", function(data) {
      var disc = data;
      var d = new Disc()
    });
  });
</script>
